<!-- WEBMADLIB/templates/layout.html -->

<!doctype html>
<html>
    
    <head>
        <title>WEB MAD-LIB</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='WEBMADLIB.css') }}">
    </head>
    <center>
    <body>
        {% block body %}
        {% endblock %}

        <button onclick=button('Amazon') class="button button">Amazon</button>
        <button onclick=button('Apple') class="button button2">Apple</button>
        <button onclick=button('Netflix') class="button button3">Netflix</button>
        <button onclick=button('Tesla') class="button button4">Tesla</button>

        {% block body2 %}
        {% endblock %}

    </body>
    </center>
</html>
